.content {
    background-color: #efefef;
    position: relative;
    animation: appear .7s .1s forwards;
    padding: 0 0 10vh;
}

table {
    color: black;
    border-collapse: collapse;
    margin: auto;
    text-align: left;
    width: 70%;
    max-width: 1080px;
}

td {
    border: 3px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d8d8d8;
}

.rainbow {
    font-weight: bold;
    animation: rainbow 3s infinite;
}

@keyframes appear {
    from {
        opacity: 0;
        top: 4vw;
    }

    to {
        opacity: 1;
        top: 0;
    }
}

@keyframes rainbow {
    0% {
        color: red;
    }

    20% {
        color: orange;
    }

    40% {
        color: darkseagreen;
    }

    60% {
        color: green;
    }

    80% {
        color: blue;
    }

    100% {
        color: purple;
    }
}

.table-title {
    text-align: center;
}

@media screen and (orientation: portrait),
(max-width: 950px) {
    table {
        width: 90%;
    }
}

p {
    margin: 0;
}

#fclinks {
    justify-content: center;
}

#fclinks li {
    margin: 30px;
    font-size: 25px;
}