html {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
}

a {
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: all .4s ease;
    /* Fill time */
}

#socials a {
    margin: 0 10px;
}


.highlight:hover {
    padding: 10px;
    text-decoration: none;
    background-color: #cce0ff;
    /* Switch to complete fill */
    background-position: 0 2em;
    /* Remove the highlight shift */
}

header {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#socials {
    justify-content: flex-end;
}

#socials img:hover {
    opacity: 100%;
}

ul {
    display: flex;
    list-style-type: none;
}

nav a {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2em;
}

.title {
    text-align: center;
    background-color: #efefef;
    padding: 100px 50px 50px;
}

grid-item {
    animation: slide 1s forwards cubic-bezier(.25, .1, 0, 1.02);
    padding: 10px;
}

#socials img {
    transition: all .4s ease;
    opacity: 45%;
}

.highlight {
    background-image:
        linear-gradient(#cce0ff 30%, transparent 0);
    background-position: 0 .8em;
    /* Move the highlight down */
}

header img {
    margin: 10px;
    max-width: 80px;
}

#name {
    font-family: Poppins;
    font-size: 100px;
    margin: 20px 0;
}

#typed,
.typed-cursor {
    font: Poppins;
    font-size: 30px;
}

nav ul {
    justify-content: space-evenly;
}

body {
    margin: 0;
}

#projects {
    color: white;
    padding: 3vh 0 0;
    justify-content: center;
}

h1 {
    font-size: 50px;
}

nav li {
    margin: 10px;
}

#projects img {
    max-height: 100px;
}

@media screen and (orientation: portrait),
(max-width: 700px) {

    .bar-top,
    .bar-mid,
    .bar-bottom {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
        transition: all .4s ease;
    }

    .toggled .bar-top {
        transform: translateY(10px);
    }

    .toggled .bar-bottom {
        transform: translateY(-10px);
    }

    nav ul {
        flex-direction: column;
    }

    nav {
        display: none;
        transition: all .4s ease;
    }

    nav.toggled {
        display: block;
        animation: reveal .5s;
    }

    #name {
        font-size: 70px;
    }

    #logo {
        display: none;
    }
}

@media screen and (orientation: portrait),
(max-width: 1150px) {
    #socials {
        display: none;
    }
}

@keyframes reveal {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}
